﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Hi guys! I was asked to present a piece of code that demonstrates data access layer and presentation layer in use.
    I think that it will usefull for you (and me) if I'll provide a working example.Otherwise I'll have a headeache with writting
    all this code in CV. Once I have done this job it wasnt difficult for me to host this application and provide you with live
    example.No animation and beautifull css - just cool ui.
</p>

<ul>
    <li><a href="/oxagile/PageWithFiltering">Page with Filtering</a></li>
</ul>
