﻿@model Oxagile.UI.Models.GirlsFilterViewModel
<script src="~/Scripts/viewmodels/GirlsViewModel.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(new GirlsViewModel(@Html.Raw(System.Web.Helpers.Json.Encode(Model)),"/oxagile/"));
    });
</script>

 <table class="table table-striped table-condensed">
        <thead>
            <tr>          
                <th><input type="text" class="" data-bind="value:filter.Name"/></th>
                <th> <input type="text" class="width50" data-bind="value:filter.Age"/></th>   
                <th><input type="text" class="width50" data-bind="value:filter.ChestSize"/></th>
                <th> <input type="text" class="width50" data-bind="value:filter.WaistLineSize"/></th>   
                <th> <input type="text" class="width50" data-bind="value:filter.HipSize"/></th>  
                <th ><input type="submit" class="search-submit" value="search" id="search" data-bind="click: search" /></th>      
            </tr>
            <tr>          
                <th>Name</th>
                <th>Age</th>
                <th>Chest</th>
                <th>WaistLine</th>
                <th>Hip</th>
                <th>Avatar</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: items -->
            <tr>          
                <td data-bind="text:Name"></td>
                <td data-bind="text:Age"></td>
                <td data-bind="text:Body.ChestSize"></td>
                <td data-bind="text:Body.WaistLineSize"></td>
                <td data-bind="text:Body.HipSize"></td>
                <td><img class="girl-image" data-bind="attr:{src:ImageUrl}"/></td>
            </tr>
            <!-- /ko -->
        </tbody>
    
    </table>
   @Html.Partial("Templates/Pagination",Model)