﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css") 
    @Styles.Render("~/Bootstrap/css") 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")    
    @Scripts.Render("~/bundles/common")
</head>
    <body>
        <div id="main-container">
             @RenderBody() 
        </div>
      
        @RenderSection("scripts", required: false)
    </body>
</html>
